@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 3px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color:#6A0DAD;
    border-radius: 10px;
}

